body,
html {
  height: 100%;
  margin: 0;
  background-image: url("../images/background.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  color: #083378;
  position: relative;
  margin-bottom: 100px;
}