body{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.App {
    // background-image: url("../images/background.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #083378;
   
  }