.form{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    font-size: 20px;
  .label{
      background-color: #083378;
      color: white;
      border-radius: 5px;
      margin: 5px;
  }
}
