.main {
    width: 100%;
    min-height: 100%;
    margin: auto;
    font-weight: bold;
    margin: 20px 0;
    .button {
      width: 100px;
      font-weight: bold;
      text-transform: uppercase;
      background-color: #083378;
      color: white;
      border-radius: 5px;
      padding: 10px;
      margin: auto;
      margin-top: 20px;
    }
  }